<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <form method="post" action="/user/add">
        <label id="username">Username: </label>
        <input type="text" name="username">

        <label id="password">Password: </label>
        <input type="password" name="password">

        <label id="email">Email: </label>
        <input type="text" name="email">
        
        <button>Submit</button>
    </form>
    
</body>
</html>